{
  "printWidth": 100,
  "singleQuote": true,
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-organize-imports"],
  "organizeImportsSkipDestructiveCodeActions": true,
  "overrides": [
    {
      "files": ".github/workflows/*.{yml,yaml}",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
