//@use '../../../../../libs/styles/src/lib/common.styles.scss' as *;
@use 'theme' as *;
@use 'common.styles' as *;
// index.component.scss

.dashboard {
  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;

    .user-name {
      font-size: 1.2rem;
      font-weight: 600;
      color: $color-primary-dark;  // Verde oscuro para dar más énfasis
      justify-self: center;
      align-self: center;
    }
  }
}
